<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dssoft.infosetas"
    android:installLocation="auto">

    <uses-feature android:name="android.hardware.location.gps"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".InfoSetas"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDiDM_3yz238Doe57JsY_RslQfurmQnURQ"/>

        <activity android:name=".iu.PantallaPrincipal" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".iu.PantallaDetallesSeta" android:screenOrientation="portrait" android:parentActivityName=".iu.PantallaListaSetas"/>
        <activity android:name=".iu.PantallaListaSetas" android:screenOrientation="portrait" android:parentActivityName=".iu.PantallaPrincipal"/>
        <activity android:name=".iu.PantallaListaGaleria" android:screenOrientation="portrait" android:parentActivityName=".iu.PantallaPrincipal"/>
        <activity android:name=".iu.PantallaGaleria" android:screenOrientation="portrait" android:parentActivityName=".iu.PantallaListaGaleria"/>
        <activity android:name=".iu.PantallaZoom" android:screenOrientation="portrait"/>
        <activity android:name=".iu.PantallaTiempo" android:screenOrientation="portrait" android:parentActivityName=".iu.PantallaPrincipal"/>
        <activity android:name=".iu.PantallaZonas" android:screenOrientation="portrait" android:label="@string/titPantallaZonas" android:parentActivityName=".iu.PantallaPrincipal"/>
        <activity android:name=".iu.PantallaMapaNuevaZona" android:screenOrientation="portrait" android:label="@string/titPantallaMapaNuevaZona" android:parentActivityName=".iu.PantallaZonas"/>
        <activity android:name=".iu.PantallaInsertarDatosZona" android:screenOrientation="portrait" android:label="@string/titPantallaDatosNuevaZona"/>
        <activity android:name=".iu.PantallaVerDatosZonas" android:screenOrientation="portrait" android:parentActivityName=".iu.PantallaZonas"/>
        <activity android:name=".iu.PantallaMapaVerZona" android:screenOrientation="portrait"/>
        <activity android:name=".iu.PantallaMapaGPS" android:screenOrientation="portrait" android:parentActivityName=".iu.PantallaZonas" android:label="@string/titPantallaMapaGPS"/>

    </application>

</manifest>