<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dssoft.infosetas"
    android:installLocation="auto">

    <uses-feature android:name="android.hardware.location.gps"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".InfoSetas"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:usesCleartextTraffic="true">

        <!--Esto es obligatorio para el SDK de anuncios, si no se pone peta la aplicacion-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2712815213167664~2533509012"/>

        <!--La Api_Key para google Maps-->
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA9sAr_pWXohmGSHoeEy35nVx4fmYXmb1M"/>

        <activity android:name=".iu.PantallaPrincipal" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".iu.PantallaDetallesSeta" android:screenOrientation="portrait"/>
        <activity android:name=".iu.PantallaListaSetas" android:screenOrientation="portrait"/>
        <activity android:name=".iu.PantallaListaGaleria" android:screenOrientation="portrait"/>
        <activity android:name=".iu.PantallaGaleria" android:screenOrientation="portrait"/>
        <activity android:name=".iu.PantallaZoom" android:screenOrientation="portrait"/>
        <activity android:name=".iu.PantallaTiempo" android:screenOrientation="portrait"/>
        <activity android:name=".iu.PantallaZonas" android:screenOrientation="portrait" android:label="@string/titPantallaZonas"/>
        <activity android:name=".iu.PantallaMapaNuevaZona" android:screenOrientation="portrait" android:label="@string/titPantallaMapaNuevaZona"/>
        <activity android:name=".iu.PantallaInsertarDatosZona" android:screenOrientation="portrait" android:label="@string/titPantallaDatosNuevaZona"/>
        <activity android:name=".iu.PantallaVerDatosZonas" android:screenOrientation="portrait"/>
        <activity android:name=".iu.PantallaMapaVerZona" android:screenOrientation="portrait"/>
        <activity android:name=".iu.PantallaMapaGPS" android:screenOrientation="portrait" android:label="@string/titPantallaMapaGPS"/>
        <activity android:name=".iu.PantallaAyuda" android:screenOrientation="portrait"/>

    </application>

</manifest>